html {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #A7ADC6;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

header,
footer {
    background-color: #8797AF;
    color: black;
    padding: 48px;
}

main {
    flex-grow: 1;
}

.main-content {
    background-color: lightcoral;
    padding: 48px;
    width: 50%;
}

.highlight {
    color: greenyellow;
    font-size: 2rem;
}